/* 
### Primary

- Pale blue: hsl(225, 100%, 94%)
- Bright blue: hsl(245, 75%, 52%)

### Neutral

- Very pale blue: hsl(225, 100%, 98%)
- Desaturated blue: hsl(224, 23%, 55%)
- Dark blue: hsl(223, 47%, 23%) */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    --color-primary-pale: hsl(225, 100%, 94%);
    --color-primary-bright: hsl(245, 75%, 52%);
    --color-secondary-pale: hsl(225, 100%, 98%);
    --color-secondary-desaturated: hsl(224, 23%, 55%);
    --color-secondary-dark: hsl(223, 47%, 23%);
}

body {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    color: var(--color-secondary-dark);
}

.container {
    width: 1440px;
    background-color: var(--color-primary-pale);
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100% 45%;
    margin: 0 auto;
    padding: 108px;
}

.card {
    width: 450px;
    background-color: #fff;
    background-image: url("images/illustration-hero.svg");
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 5%;
    padding-bottom: 35px;
    margin: 0 auto;
}

/* Text */

.text {
    text-align: center;
}

.text-xl {
    font-size: 30px;
    font-weight: 700;
    color: var(--color-secondary-dark);
}

.text-md {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-secondary-desaturated);
}

.bold-bright {
    font-size: 14px;
    font-weight: 700;
    color: var(--color-primary-bright);
}

.bold-dark {
    font-weight: 700;
    color: var(--color-secondary-dark);
}

.text-btn {
    max-width: 160px;
    font-weight: 700;
}

.text-btn-primary {
    color: var(--color-secondary-pale);
}

.text-btn-secondary {
    color: var(--color-secondary-dark);
}

.order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order h1 {
    padding: 274px 0 15px 0;
}

.order-prg {
    line-height: 1.4;
}

.plan {
    width: 352px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-secondary-pale);
    border-radius: 8px;
    padding: 15px;
    margin: 35px 0;
}

.plan-content {
    display: flex;
}

.plan-price {
    display: flex;
    flex-direction: column;
    line-height: 1.4;
    margin: 0 40px 0 15px;
}

/* Buttons */

.btn {
    cursor: pointer;
    display: inline-block;
    width: 352px;
    background: none;
    border: none;
    padding: 10px 100px;
}

.btn-primary {
    background-color: var(--color-primary-bright);
    border-radius: 8px;
}

.btn.-secondary {
}

